$body-height: 100%;
$header-height: 50px; 

@mixin height-calc() {
  height: -moz-calc(100% - 0px);
  height: -webkit-calc(100% - 0px);
  height: -ms-calc(100% - 0px);
  height: calc(100% - 0px);
}

@mixin content-width-calc() {
  width: -moz-calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  width: -ms-calc(100% - 220px);
  height: calc(100% - 220px);
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.wrapper, .home{
  width: 100%;
  height: 100%;
}

header {
  height: $header-height;
}
.app-container {
  position: relative;
  @include height-calc;

  .container-sidebar {
    width: 220px;
    height: 100%;
    border-right: 1px solid #ccc;
  }

  .container-body {
    position: absolute;
    left: 220px;
    top: 0;
    @include content-width-calc;
    height: 100%;
    .container-body-scroll{
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

}
footer {
}


