.container-sidebar {
    background: #2e363f;
    position: relative;
    .logo {
        background: #1f262d;
        margin: 0;
        height: 90px;
        border-bottom: 1px solid #000;
        a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #939da8;
            b {
                display: inline-block;
                font-size: 30px;
                margin: 20px 0 6px 0;
            }
            span {
                font-size: 14px;
                display: block;
            }
        }
    }
    h4 {
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 50px;
        border-top: 1px solid #555;
        border-bottom: 1px solid #000;
    }
    ul {
        margin: 0;
        padding: 15px 0 0 0;
        border-top: 1px solid #555;
    }
    li {
        a {
            padding-right: 30px;
            color: #939da8;
            display: block;
            text-align: right;
            line-height: 50px;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                color: #ff6600;
            }
        }
        &.active {
            a {
                color: #ff6600;
                background: #1f262d;
                font-size: 18px;
            }
        }
    }
    .sidebar-fn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 220px;
        border-top: 1px solid #000;
        .fn-country {
            border-top: 1px solid #555;
            border-bottom: 1px solid #000;
            dd {
                line-height: 50px;
                color: #939da8;
            }
        }
        .fn-signout {
            border-top: 1px solid #555;
            a {
                line-height: 50px;
                color: #939da8;
                text-align: center;
                display: block;
                text-decoration: none;
                &:hover {
                    color: #ff6600;
                }
            }
        }
        .locales-select{
            border-radius: 0; 
            background-color: #2e363f;
            color: #fff;
            border-left:none;
            border-right:none;
            border-bottom:none;
            border-top:1px solid #555;
        }
    }
}
